
@{
    ViewBag.Title = "_LoginLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" /> <!-- Asegúrate de que las rutas a los estilos sean correctas -->
</head>
<body>
    <div class="container">     
        @RenderBody() <!-- Aquí se renderizará el contenido de la vista de Login -->
    </div>
</body>
</html>


